.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px;
}

.btn{
    width: 20%;
    padding: 10px;
    border: none;
    outline-color: transparent;
    border-radius: 25px;
    background: green; 
    color: #fff;
    font-size: 20px;
    transition: linear 0.3s;
}

.btn:hover{
    letter-spacing: 5px;
}

.animals-container{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}